.cookie {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: 500ms;
    left: 500px;
    top: 50px;
}

.stats {
    background-color: brown;
    position: absolute;
    left: 0;
    top: 0;
    outline-style: solid;
    width: 30%;
    height: 100%;
    box-shadow: 10px;
}

.upgrades {
    background-color: brown;
    position: absolute;
    right: 0;
    top: 0;
    outline-style: solid;
    width: 30%;
    height: 100%;
    box-shadow: 10px;
}
