.cookie {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: 500ms;
    left: 40%;
    top: 30%;
}

.row {
    width: 30%;
    left:  5%;
    position: absolute;
    
    
}

.col-md-3 {
position: absolute;
width: 30%;
left: 50%;
height: 40%;
}

.table {

    height: 50%;
}


